.main_box {
    height: 100vh;
    background-size: cover;
    background-color: transparent ;
    opacity: 0.9;
}

.menu-item{
    position: absolute;
    left: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 60px;
    opacity: 1;
    font-weight: 700;
    cursor: pointer;
}

.btn_one i {
    position: absolute;
    left: 5px;
    color: rgb(5, 5, 5);
    font-size: 18px;
    line-height: 60px;
    opacity: 1;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(160, 129, 129, 0.1);
    box-shadow: 0 0 4px rgba(90, 88, 88, 0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 300px;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(27, 22, 22, 0.5);
    height: 60px;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    position: absolute;
    left: 125px;
    color: rgb(12, 12, 12);
    font-size: 25px;
    line-height: 60px;
    opacity: 0;     
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .btn_two {
    position: absolute;
    left: 125px;
    color: rgb(7, 7, 7);
    font-size: 25px;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .menu{
    position: relative;
    width: 100%;
    top: 50px;
}

.sidebar_menu .menu li{
    margin-top: 15px;
    padding: 14px 20px;
    color: rgb(23, 24, 26);
}

.sidebar_menu .menu i,
a{
    color: rgb(27, 22, 22);
    text-decoration: none;
    font-size: 18px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 15%;
    bottom: 50px;
}

.sidebar_menu .social_media i {
    color: rgb(31, 24, 24);
    opacity: 0.5;
    padding: 0.5px;
}

#checkbo{
    display: none;
    background-color: black;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 25px  rgba(27, 22, 22, 0.5);
}

.btw_one i:hover {
    font-size: 40px;
}

.btw_two i:hover {
    font-size: 30px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
    color: rgb(107, 160, 86);
}

#checkbo:checked ~ .sidebar_menu {
    left: 0;
}

#checkbo:checked ~ .btn_one i {
    opacity: 0;
}

#checkbo:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}

#checkbo:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
}

